#!/usr/bin/env bash

. .env

echo "Run this command to connect with cloud storage using application-default credentials:"
echo "gcloud auth application-default login --impersonate-service-account $GCP_SERVICE_ACCOUNT"