* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0;
  }

  form {
	background: #B9DFFF;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 20px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}